// .paging {
//
// }

.paginator {
  font-size: 16px;
  text-align: center;
}
.paginator-current {
  display: inline-block;

  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;

  width: 40px;
  height: 40px;

  font-size: 18px;
  color: $primary-white-color;
  background-color: $footer-accent-color;
}
.paginator-page-first {
  color: $primary-white-color;
}
.paginator-page {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.33;
  color: $main-text-color;

  padding: 10px;
}
// .paginator-page-last {
//   //
// }
.paginator-previous,
.paginator-next {
  color: $main-text-color;
}
