$primary-text-color: #000000;
$informacion-text-color: #8c8c8c;
$accent-color: #ff6b01;
$primary-white-color: #ffffff;
$secondary-bacground-color: #e5e5e5;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

// Footer
$footer-text-color: #545454;
$footer-background-color: #f7f7f7;
$footer-accent-color: #ff6b08;
