.film-element {
  // li
  margin-bottom: 20px;

  img {
    // width: 100%;
    // height: auto;
    // height: 398px;
    border-radius: 5px;
    background-color: $secondary-background-color;
  }
  img:hover {
    transform: scale(1.03);
  }
}
