.card_film {
  width: 1024px;
  height: 230px;
  margin-left: 0px;
  margin-top: 0px;

  background: rgba(0, 0, 0, 0.56);
  background-color: $primary-text-color;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.56),
      rgba(0, 0, 0, 0.56)
    );
  }
}
@include for-size(tablet-landscape) {
  padding-top: 41px;
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.56),
      rgba(0, 0, 0, 0.56)
    );
  }
}
@include for-size(desktop) {
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.56),
      rgba(0, 0, 0, 0.56)
    );
  }
}
.filme_image {
  position: absolute;
  width: 426px;
  height: 514px;
  left: 71px;
  top: 290px;
  border-radius: 5px;
}
.film {
  width: 266px;
  height: 31px;
  margin-left: 527px;
  margin-top: 290px;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: #000000;
}
.repozitori {
  padding-top: 20px;
}
.Votes {
  position: absolute;
  width: 67px;
  height: 16px;
  left: 527px;
  top: 341px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #8c8c8c;
}
.Popularity {
  position: absolute;
  width: 55px;
  height: 16px;
  left: 527px;
  top: 367px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #8c8c8c;
}
.Original Title {
  position: absolute;
  width: 69px;
  height: 16px;
  left: 527px;
  top: 393px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #8c8c8c;
}
.Genre {
  position: absolute;
  width: 32px;
  height: 16px;
  left: 527px;
  top: 419px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #8c8c8c;
}
.about {
  position: absolute;
  width: 39px;
  height: 16px;
  left: 527px;
  top: 455px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #000000;
}
.about_descrip {
  position: absolute;
  width: 426px;
  height: 141px;
  left: 527px;
  top: 481px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #000000;
}
.button-Watched {
  position: absolute;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffff;
  position: absolute;
  width: 136px;
  height: 44px;
  left: 678px;
  top: 642px;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
  background: #ff6b01;
  border-radius: 5px;
}
.button-to-queue {
  position: absolute;
  width: 136px;
  height: 44px;
  left: 678px;
  top: 642px;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
