.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
  // letter-spacing: 0.08em;
  color: $primary-text-color;
  background-color: $primary-white-color;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: 2px solid teal;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

h1,
h2,
h3,
ul,
li,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

img {
  display: block;
  max-width: 100%;
  // height: auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.section {
  padding: 20px 20px 40px;

  @include for-size(tablet-landscape) {
    padding: 60px 75px 60px 76px;
  }

  @include for-size(desktop) {
    padding: 60px 71px;
  }
}
