// ЗДЕСЬ КОД НЕ ПИШЕМ, ТОЛЬКО ПОДКЛЮЧАЕМ ФАЙЛЫ ИЗ ПАПКИ SCSS -->

// UTILS
@import './utils/variables';
@import './utils/mixins';

// BASE
@import './base/normalize';
@import './base/common';
@import './base/fonts';

// COMPONENTS
@import './components/logo';
@import './components/modal-main';

// LAYOUTS
@import './layouts/header';
@import './layouts/main';
@import './layouts/homePage';
@import './layouts/detailsPage';
@import './layouts/myFilmLibraryPage';
@import './layouts/footer';
@import './layouts/hower_img';
